.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btnToggle {
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #54bab9;
	border-radius: 5px;
	padding: 3px 10px;
	cursor: pointer;
}

.btnToggle:hover {
	border-bottom: 1.5px solid #54bab9;
}

@media only screen and (max-width: 400px) {
	.mainContainer {
		padding-top: 6rem;
	}
}
